body{
background-color:#1B253A;
text-decoration:none;
}
#contentBlock{
margin-left:auto;
margin-right:auto;
width:600px;
height:200px;
margin-top:10px;
}
.contentImage{
float:left;
}
#contentHeader{
width:400px;
margin-left:10px;
margin-top:5px;
font-size:16pt;
}
#contentHeaderContainer{
margin-left:auto;
margin-right:auto;
height:50px;
width:400px;
float:right;
}
#userPost{
margin-left:auto;
margin-right:auto;
width:600px;
margin-top:10px;
}
#contentBody{
margin-left:20px;
margin-right:20px;
}
#leaderboard{
margin-left:auto;
margin-right:auto;
}
td{
padding-left:20px;
}
#contentBodyContainer{
margin-left:auto;
margin-right:auto;
width:400px;
text-indent:10px;
float:right;
}
a{
text-decoration:none;
color:#000;
font-size:14pt;
}
/*background colour #09318D */
#container{
background-color:#7E8593;
margin-left:auto;
margin-right:auto;
margin-top:50px;
width:1200px;
height:600px;
}
.sideImage{
margin-left:20px;
}
#header{
height:50px;
text-align:center;
}
#blankspace{
height:30px;
width:1200px;
margin-left:auto;
margin-right:auto;
background-color:#1B253A;
}
#navBar{
width:1200px;
height:30px;
}
.navCell{
width:240px;
height:30px;
float:left;
text-align:center;
}
h3{
text-align:center;
text-decoration:none;
}
#leftContent{
margin-top:10px;
width:300px;
float:left;
}
#centerContent{
margin-top:10px;
width:600px;
float:left;
}
#rightContent{
margin-top:10px;
width:300px;
float:left;
}
input{
margin:5px;
}
a:link.nav{color:#ffffff;}
a:visited.nav{color:#FFFFFF;}
a:hover.navCell{color:#ffffff;}
a:hover.navCell{background-color: #5D6577;}